@media(max-width: 930px) {
    .nav-options{
        font-size: 12px !important;
    }    
}

.inactiveLink{
    color:black;
    text-decoration:none;
    font-size: 14px;
}

.activeLink{
    color:#FE508D !important;
    text-decoration:none;
    font-size: 14px;
}

@media(max-width: 870px) {
    .name-heading{
        font-size: 16px;
    }
}

@media(min-width: 768px) {
    .active{
    border-bottom:2px solid #FE508D;
    }
    .active:hover{
        color:#FE508D !important;
        border-bottom:2px solid #FE508D;
    } 
    .inactive:hover{
        color:#FE508D !important;
        border-bottom:2px solid #FE508D;
    }
}


@media(max-width: 375px) {
    .name-heading{
        font-size: 14px;
    }
}