.inactiveLink{
    color:black;
    text-decoration:none;
    font-size: 14px;
}

.activeLink{
    color:#70307E !important;
    text-decoration:none;
    font-size: 14px;
}
.active{
    border-bottom:2px solid #70307E;
    }
    .active:hover{
        color:#70307E !important;
        border-bottom:2px solid #70307E;
    } 
    .inactive:hover{
        color:#70307E !important;
        border-bottom:2px solid #70307E;
    }

@media(max-width: 1023px) {
    .inactiveLink{
        font-size: 12px;
    }
    .activeLink{
        font-size: 12px;
    }
}

@media(max-width:767px){
    .inactiveLink{
        font-size: 16px;
        padding:4px 0;
    }
    .activeLink{
        font-size: 16px;
        padding:4px 0;
    }
    .active{
        border:none;
        }
        .active:hover{
          border:none;
        } 
        .inactive:hover{
            border:none;
        }
}

    
/* } */
